/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ******************** */
/* My style starts here */
/* ******************** */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 55%;
    font-size:  14px;
}

section {
    display: inline-block;
    vertical-align: top;
}

/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    clear: both;
    *zoom: 1;
}

strong {
    font-weight: bold;
}

.container {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    position: relative;
}

section.left {
    position: absolute;
    float: left;
    width: 40%;
    padding: 0;
    margin: 0;
    height: auto;
    top: 50%;
    transform: translate(0,-50%);
}
section.right {
    float: right;
    width: 60%;
    padding: 0;
    margin: 0;
    height: auto;
}

nav.center {

}

h1, h2, h3, h4, h5, h6, p {
    padding: 10px 5px;
    padding-top: 0;
}

h1, h2 {
    font-weight: bold;
}


h1 {
    font-family:   "Tahoma";
    color:		   darkgreen;
    font-size: 	   1.7em;
    padding-top: 10px;
}

h2 {
    font-family:   "Arial";
    color:		   dimgray;
    font-size: 	   1.4em;
    padding: 15px;
}

h3 {
    font-family: "Arial";
    color: dimgray;
    font-size: 1.2em;
    font-style: italic;
}

h3.date {
    font-weight: 200;
}

a {
    color: #0087cc;
}
a:hover {
    color: #ff7b29;
}
a.vertical-nav {
    display: block;
    padding: 2px 0;
}

p{
    display: block;
    margin:  10px 15px;
}

p:first-of-type {
    margin-top:    0;
}

p:last-of-type {
    margin-bottom: 0;
}

.btn {
    border-radius: 5px;
    display: inline-block;
    margin: 0;
}

.btn-alt {
    border: 1px solid grey;
    padding: 10px 20px;
}

.class_1 {
    color: red;
}

.class_1 :last-of-type{
    color: green;
}

.class_2 {
    background: rgba(256, 256, 0, .75);
}

code {
    background: #eaeaed;
    color: #666;
    font: 14px/24px "Source Code Pro", Inconsolata, "Lucia Console", Terminal, "Courier New", Courier;
    display: inline-block;
    height: 90px;
    width: 90px;
    margin: 14px 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.border-solid {
    border-width: 2px;
    border-style: solid;
    border-color: #9779a7;
    border-radius: 10px;
}

.border-double {
    border: 6px double #9799a7;
    border-radius: 30px 0;
}

.border-dashed {
    border: 4px dashed #9799a7;
}

.border-dotted {
    border: 4px dotted #9799a7;
    border-radius: 20%;
}

footer.primary-footer{
    padding: 5% 0;
}
footer small {
    float: left;
}

footer nav {
    float: right;
}

.box-1-4 {
    width: 25%;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

section.offset {
    border: 2px dashed #9799a7;
    background: none;
    width: 100px;
    height: 100px;
    margin: 30px 20px;
    padding: 0;
}

section.offset code.relative {
    width: 100px;
    height: 100px;
    position: relative;
    left: 15px;
    top: 15px;
    background: #2db34a;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

section.relative {
    width: 560px;
    height: 100px;
    margin: 30px 0;
    border-radius: 6px;
    background: #eaeaed;
    position: relative;
}

code.normal {
    padding: 10px 10px;
    color: #000000;
    margin: 0;
    display: inline-block;
    height: auto;
    width: auto;
    background: none;
}

div.absolute, code.absolute {
    position: absolute;
    height: 70px;
    width: 250px;
}
div.absolute {
    border: 2px dashed dimgray;
    background: none;
    right: 0;
    top: 0;
}
code.absolute {
    background: #2db34a;
    color: white;
    right: 10px;
    top: 10px;
    margin: 0;

}